/* .header{
    display: flex;
} 

.logo{
    display: flex;
    flex-direction: column;
    
    width: 300px;

}

.nav-items > ul{
   display: flex;
   list-style-type: none;
}

.nav-items > ul > li{
    display: flex;
    align-items: flex-end;
   padding: 0px;
   margin: 30px;
} */

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 100px;
     
}

.logo{
    width: 100px;
    height: 100px;
}

.image-style{
    height: 100px;
    width: 100px;
}




.nav-items > ul{
    display: flex;
    list-style: none;
    font-size: 24px;
}

.nav-items > ul > li{
   padding: 10px;
   margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
  padding: 1px;
  width: 200px;
  
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}


.search{
    padding: 10px;
    

}

.res-logo{
    width: 100%;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}